<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>

</head>
<body tiles:fragment="content">
	<div id="page-wrapper">
		<hr />
		<div class="well">
			<i class="fa fa-cogs fa-fw fa-2x"></i> <strong>Settings</strong>
		</div>
		<div class="panel-group" id="settings-accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#settings-accordion"
							href="#collapseService"><i class="fa fa-youtube-play"></i>
							Services Manager </a>
					</h4>
				</div>
				<div id="collapseService" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="wrapper">
							<div class="row" th:each="srv,iterStat :  ${allServices}">
								<div class="col-sm-12 col-xs-12">
									<div class="well service">
										<div class="col-sm-12">
											<div class="col-xs-12 col-sm-4">
												<h3 th:text="${srv.descriptor.name}">Service Name</h3>
												<p>
													<strong>Type: </strong><span
														th:text="${srv.descriptor.type}"></span>
												</p>
												<p>
													<strong>Actual Status: </strong> <span
														th:if="${srv.actualStatus==T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STARTED}"><i
														class="fa fa-cog fa-2x fa-spin started"></i> Started</span> <span
														th:if="${srv.actualStatus==T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STOPPED}"><i
														class="fa fa-cog fa-2x"></i> STOPPED</span>
												</p>
												<p>
													<strong>Default Status: </strong> <span
														th:if="${srv.descriptor.initialStatus==T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STARTED}"><i
														class="fa fa-cog fa-2x fa-spin started"></i> Started</span> <span
														th:if="${srv.descriptor.initialStatus==T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STOPPED}"><i
														class="fa fa-cog fa-2x"></i> STOPPED</span>
												</p>
											</div>
											<div class="col-xs-12 col-sm-4">
												<figure>
													<img th:src="@{/assets/img/logo_s.png}" />
													<figcaption class="ratings">
														<p>
															<strong>Version:</strong> <span
																th:text="${srv.descriptor.version}">ver</span>
														</p>
													</figcaption>
												</figure>
											</div>
										</div>

										<div class="col-xs-12 divider"></div>
										<div class="col-xs-12 col-sm-4">
											<h4>
												<strong> Available actions:</strong>
											</h4>
										</div>
										<div class="col-xs-12 col-sm-4">
											<form th:action="@{/srvmod}" method="post">
												<input type="hidden" name="service-id"
													th:value="${srv.descriptor.name}" /> <input type="hidden"
													name="service-action"
													th:value="${T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STARTED}" />
												<input type="hidden" name="back-to"
													th:value="@{~__${#httpServletRequest.requestURI}__}" />
												<button type="submit" class="btn btn-success btn-block">
													<span class="fa fa-play-circle-o"></span> START
												</button>
											</form>
										</div>
										<div class="col-xs-12 col-sm-4">
											<form th:action="@{/srvmod}" method="post">
												<input type="hidden" name="service-id"
													th:value="${srv.descriptor.name}" /> <input type="hidden"
													name="service-action"
													th:value="${T(org.steamshaper.htm.beans.ServiceDescriptor.STATUS).STOPPED}" />
												<input type="hidden" name="back-to"
													th:value="@{~__${#httpServletRequest.requestURI}__}" />
												<button type="submit" class="btn btn-danger btn-block">
													<span class="fa fa-stop"></span> STOP
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#settings-accordion"
								href="#collapseMonitoring"><i class="fa fa-bullseye"></i>
								System Monitoring </a>
						</h4>
					</div>
					<div id="collapseMonitoring" class="panel-collapse collapse in">
						<div class="panel-body">

							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Probe Name</th>
										<th class="text-center">Events</th>
										<th class="text-center">Errors</th>
										<th class="text-center">Infos</th>
										<th class="text-center">Debugs</th>
										
										<th >Actions</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="probe,iterStat :  ${probeList}">
										<td th:text="${iterStat.count}">1</td>
										<td th:text="${probe.probeName}">Mark</td>
										<td class="text-center"><span class="badge badge-white" th:text="${probe.eventsCount}">10</span></td>
										<td class="text-center"><span class="badge badge-error" th:text="${probe.errorEvents}">10</span></td>
										<td class="text-center"><span class="badge badge-info" th:text="${probe.infoEvents}">10</span></td>
										<td class="text-center"><span class="badge badge-debug" th:text="${probe.debugEvents}">10</span></td>
										<td>
											<!-- Standard button -->
											<button type="button" class="btn btn-primary" disabled="disabled">Under Construction</button>										</td>
									</tr>

								</tbody>
							</table>





						</div>
					</div>
				</div>








			</div>

		</div>


	</div>
</body>
</html>
