<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="Steamshaper" />
<link rel="shortcut icon" />
<link rel="icon" type="image/png" th:href="@{/assets/favicon.png}" />
<title th:text="${appInfos.applicationName}">${appInfos.applicationName}</title>

<link tiles:replace="css"/>

<link tiles:replace="extra_css"/>

</head>

<body>
	<div id="wrapper">
		<!--INIZIO INTESTAZIONE -->
		<div id="nav" tiles:replace="navigation"></div>
		<!--FINE INTESTAZIONE -->


		<!--INIZIO LOGHI FIRMA -->
		<div id="content" tiles:replace="content"></div>
		<!--FINE LOGHI FIRMA -->

		<!-- INIZIO FOOTER -->
		<div id="footer" tiles:replace="footer"></div>
		<!-- FINE FOOTER -->
		<!--INIZIO COPYRIGHT -->
		<div id="copyright" tiles:replace="copyright"></div>
		<!--FINE COPYRIGHT -->
		<div id="modal" tiles:replace="modal"></div>
	</div>
	<div id="js" tiles:replace="js"></div>

	<div id="js" tiles:replace="homejs"></div>
	
</body>
</html>