<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="it">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" />
<link rel="icon" type="image/png" th:href="@{/assets/favicon.png}" />
<title th:text="${appInfos.applicationName}">${appInfos.applicationName}</title>

<link tiles:replace="css"/>
</head>

<body class="login-container">

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please Sign In</h3>
					</div>
					<div class="panel-body">
						<form role="form" name='f' th:action='@{/j_spring_security_check}' method='POST'>
							<fieldset>
								<div class="form-group">
									<input class="form-control" placeholder="Username" name="j_username"
										type="text" autofocus="autofocus" />
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Password"
										name="j_password" type="password" value=""/>
								</div>
								<div class="checkbox">
									<label> <input name="_spring_security_remember_me" type="checkbox"
										value="Remember Me"/> Remember Me
									</label>
								</div>
								<!-- Change this to a button or input when using this as a form -->
								<button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


		<!--INIZIO COPYRIGHT -->
		<div id="copyright" tiles:replace="copyright"></div>

	<div id="js" tiles:replace="js"></div>
</body>
</html>