/* Global Styles */

/* ------------------------------- */
.text-bold {
	font-weight: bold;
}

.sponsor {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
	text-align: center;
}

.dashboard-widget {
	width: 128px;
	height: 128px;
	display: inline;
}
/* ------------------------------- */
.modal.modal-wide .modal-dialog {
	width: 95%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}

li div.row {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.started {
	color: #398439;
}

.service {
	display: inline-block;
	width: 100%;
}

figcaption.ratings {
	margin-top: 20px;
}

.divider {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	margin-bottom: 10px;
}

.loading-bg {
	background: url('../assets/img/loading.png') no-repeat center;
}

.same-line {
	display: inline-block;
}

.modal-iframe {
	border: 0px;
	width: 100%;
}

.login-container {
	display: table;
	width: 100%;
	height: 100%;
	background: url('../assets/img/logo.png') no-repeat center;
}

.badge-error {
	color: #fff;
	background-color: #d9534f;
}

.badge-info {
	color: #fff;
	background-color: #5bc0de;
}

.badge-debug {
	color: #fff;
	background-color: #428bca;
}

.badge-white {
	color: #333;
	background-color: #fff;
}

.slimHR {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tags {
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: #0089e0;
	color: #fff;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.omnibox {
	display: block;
	width: 100%;
	padding: 5pt;
	margin-bottom: 0pt;
	font-size: 12pt;
	line-height: 16pt;
	color: #333333;
	border: 0;
	border: 1px solid #e5e5e5;
}



[contenteditable="true"]:active, [contenteditable="true"]:focus {
	color: #000;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	outline-width: 1px;
	outline-color: #ddd;
}