<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="it">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" />
<link rel="icon" type="image/png" th:href="@{/assets/favicon.png}" />
<title th:text="${appInfos.applicationName}">${appInfos.applicationName}</title>
<!-- Core CSS - Include with every page -->
<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}"
	href="font-awesome/css/font-awesome.css" rel="stylesheet" />

<!-- Page-Level Plugin CSS - Dashboard -->
<link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}"
	href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
<link th:href="@{/css/plugins/timeline/timeline.css}"
	href="css/plugins/timeline/timeline.css" rel="stylesheet" />

<!-- SB Admin CSS - Include with every page -->
<link th:href="@{/css/sb-admin.css}" href="css/sb-admin.css"
	rel="stylesheet" />
<!-- SB Admin CSS - Include with every page -->
<link th:href="@{/css/htm.css}" href="css/htm.css" rel="stylesheet" />

<!-- SB Admin CSS - Include with every page -->
<link th:href="@{/css/ihover.css}" href="css/ihover.min.css"
	rel="stylesheet" />


<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]>
	<script src="../../assets/js/ie8-responsive-file-warning.js">
	</script>
	<![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
	</script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
	</script>
	<![endif]-->

</head>

<body>
	<div tiles:fragment="modal">

		<div class="modal modal-wide fade bs-modal-lg" tabindex="-1" id="lg-modal"
			role="dialog" aria-labelledby="lg-modal-label" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<i class="fa fa-chevron-circle-down"></i><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title  same-line" id="lg-modal-label"></h4> - <small class="text-muted same-line"
										 id="lg-modal-label-url">...</small></div>
					<div class="modal-body loading-bg" id="lg-modal-body"></div>
				</div>
			</div>
		</div>

		
	</div>
</body>
</html>