<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>

</head>
<body tiles:fragment="nav">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}"><img align="left"
				th:src="@{/assets/img/logo_xs.png}" /></a>
		</div>
			<div class="navbar-text text-bold"
				th:text="${appInfos.applicationName}">HTM</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> <i class="fa fa-envelope fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-messages">
					<!-- 	<li><a href="#">
							<div>
								<strong>John Smith</strong> <span class="pull-right text-muted">
									<em>Yesterday</em>
								</span>
							</div>
							<div>Lorem ipsum dolor sit amet, consectetur adipiscing
								elit. Pellentesque eleifend...</div>
					</a></li>
					<li class="divider"></li> -->
					<!-- 	<li><a class="text-center" href="#"> <strong>Read
								All Messages</strong> <i class="fa fa-angle-right"></i>
					</a></li> -->
					<li class="text-center"><strong>No new message!</strong></li>
				</ul> <!-- /.dropdown-messages --></li>
			<!-- /.dropdown -->

			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> <i class="fa fa-tasks fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-tasks">
					<!-- <li><a href="#">
							<div>
								<p>
									<strong>Task 1</strong> <span class="pull-right text-muted">40%
										Complete</span>
								</p>
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-success"
										role="progressbar" aria-valuenow="40" aria-valuemin="0"
										aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (success)</span>
									</div>
								</div>
							</div>
					</a></li>
					<li class="divider"></li> -->
					<!-- <li><a class="text-center" href="#"> <strong>See
								All Tasks</strong> <i class="fa fa-angle-right"></i>
					</a></li> -->
					<li><a class="text-center" href="#"> <strong>No
								tasks found!</strong>
					</a></li>
				</ul> <!-- /.dropdown-tasks --></li>
			<!-- /.dropdown -->
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-alerts">
					<!-- 	<li><a href="#">
							<div>
								<i class="fa fa-comment fa-fw"></i> New Comment <span
									class="pull-right text-muted small">4 minutes ago</span>
							</div>
					</a></li>
					<li class="divider"></li> -->
					<!-- <li><a class="text-center" href="#"> <strong>See
								All Alerts</strong> <i class="fa fa-angle-right"></i>
					</a></li> -->
					<li><a class="text-center" href="#"> <strong>No
								Alert Found! All Alerts</strong>
					</a></li>
				</ul> <!-- /.dropdown-alerts --></li>
			<!-- /.dropdown -->
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
				<!-- 	<li><a href="#"><i class="fa fa-user fa-fw"></i> User
							Profile</a></li>
					<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
					</li> -->
					<li class="divider"></li>
					<li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i>
							Logout</a></li>
				</ul> <!-- /.dropdown-user --></li>
			<!-- /.dropdown -->
		</ul>
		<!-- /.navbar-top-links -->

		<div class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li><a th:href="@{/}"><i class="fa fa-dashboard fa-fw"></i>
							Dashboard</a></li>
					<!-- <li><a href="#"><i class="fa fa-bug fa-fw"></i> Bug</a></li> -->
					<li><a th:href="@{/settings/welcome}"><i class="fa fa fa-cogs fa-fw"></i> Settings</a></li>
					<li><a th:href="@{/settings/user/welcome}"><i class="fa fa fa-users fa-fw"></i> User Management</a></li>
					
					<li class="divider"></li>
					
					<li th:each="dashElem,iterStat :  ${mainDashboard.elements}"><div
							class="row">
							<div class="col-md-10">
								<a style="display: inline;"
									href="#"
									th:onclick="${dashElem.modal}?|openExternalURLInModalLG('${dashElem.target}','${dashElem.title}')| : |window.open('${dashElem.target}');|"><img
									th:src="@{${dashElem.imgPath}}" alt="img" /> <span
									th:text="${dashElem.title}">Redmine</span></a>
							</div>
							<div class="col-md-2">
								<a style="display: inline;" th:href="${dashElem.target}"
									target="_blank"><i class="fa fa-external-link"></i></a>
							</div>
						</div></li>
					<li class="divider"></li>
					<li>
						<div class="sponsor">
							<strong></strong> <img
								th:src="@{/assets/img/hp_s.png}" alt="HP Logo" />
						</div>
					</li>
				</ul>
				<!-- /#side-menu -->
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>
</body>
</html>
