<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" tiles:fragment="css">
<head tiles:fragment="css">
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />

<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" />

<!-- Page-Level Plugin CSS - Dashboard -->
<link th:href="@{/css/plugins/timeline/timeline.css}"
	href="css/plugins/timeline/timeline.css" rel="stylesheet" />


<link th:href="@{/css/plugins/alertify/alertify.core.css}"
	href="css/plugins/ns/alertify.core.css" rel="stylesheet" />
<link th:href="@{/css/plugins/alertify/alertify.default.css}"
	href="css/plugins/ns/alertify.core.css" rel="stylesheet" />

<!-- SB Admin CSS - Include with every page -->
<link th:href="@{/css/sb-admin.css}" href="css/sb-admin.css"
	rel="stylesheet" />
<!-- SB Admin CSS - Include with every page -->
<link th:href="@{/css/htm.css}" href="css/htm.css" rel="stylesheet" />



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
	</script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
	</script>
	<![endif]-->

</head>
<head tiles:fragment="home-css">
<link th:href="@{/css/jquery.atwho.css}"
	href="css/jquery-textntags.css" rel="stylesheet" />
</head>
<body>

</body>
</html>
